---
// Astro component
---

<body class="bg-white min-h-screen flex flex-col">
	<header class="flex justify-between items-center p-4 max-w-7xl mx-auto w-full">
		<div class="text-[#0078d4] text-3xl font-bold"></div>
		<nav class="hidden md:flex space-x-4">
			
		</nav>
        <a href="https://mvp.microsoft.com/en-US/studentambassadors/apply">
		<button class="bg-[#0078d4] text-white px-4 py-2 rounded-md hover:bg-[#203A61] transition duration-300 font-semibold tracking-tight">
			Apply today! 
		</button>
    </a>
	</header>

	<main class="flex-grow flex items-center justify-center font-inter">
		<div class="text-center max-w-4xl mx-auto px-4">
            <h1 class="text-4xl md:text-6xl font-bold text-gray-900 leading-tight tracking-tight"> 
                An Indian <span class="text-[#0078d4] relative">student-driven  
                    <span class="absolute bottom-0 left-0 w-full h-3 bg-blue-200 -z-10"></span> </span>
                    community dedicated to fostering engagement, learning technologies and <br /> growing together. </h1>
			<p class="mt-6 text-xl text-gray-600">
				Expertise and best practices delivered in a supportive, inclusive, and welcoming environment.
			</p>
			<button class="mt-8 inline-flex items-center bg-[#0078d4] text-white p-3 rounded-full font-medium hover:bg-[#203A61]">
				<span class="">Join Discord server</span>
			</button>
		</div>
	</main>
</body>